body{
	margin: 0;
	font-family: sans-serif;
	background: #145ae3;
}
.login-div{
	margin-top: 10%;

}
.login-div form{
	width: 30em;
	margin: 0 auto;
}
.login-div input{
	display: block;
	margin: 1em auto;
	padding: 1.2em;
	width: 100%;
}
.login-div button[type='submit']{
	padding: 1em;
	text-align: center;
	background: #4281ff;
	color: #f0f5ff;
	border: none;
	cursor: pointer;
	font-size: 1em;
	width: 20%;
	transition: .5s;
	border-radius: 10px;
}
.login-div button[type='submit']:hover{
	background: #f0f5ff;
	color: #4281ff;
	border: .5px solid #4281ff;
}
.todos{
	
	text-align: center;
}
.todos .container{
	margin: 0 auto;
	height: 100vh;
	border-radius:5% ;
	background: #f0f5ff;
	width: 50%;
}
#todo-input input{
	width: 70%;
	padding: 1.2em;
}
.todo{
	margin: 1.5em;
	padding: 1em;
	background: #fff;
}